@page
@model Mined.Pages.Admin.Uxos.CreateModel

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Add UXO</h2>
			<hr />
		</div>
		<div asp-validation-summary="All"></div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.UxoName">Uxo Name</label>
			<input asp-for="@Model.Uxo.UxoName"/>
			<span asp-validation-for="Uxo.UxoName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Uxo.CategoryName">Category Name</label>
			<input asp-for="@Model.Uxo.CategoryName"/>
			<span asp-validation-for="Uxo.CategoryName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.NameNato">NATO Name</label>
			<input asp-for="@Model.Uxo.NameNato" />
			<span asp-validation-for="Uxo.NameNato" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.NameRussian">Russian Name</label>
			<input asp-for="@Model.Uxo.NameRussian"/>
			<span asp-validation-for="Uxo.NameRussian" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.NameOrigin">Origin Name</label>
			<input asp-for="@Model.Uxo.NameOrigin"/>
			<span asp-validation-for="Uxo.NameOrigin" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.NickName">Nickname</label>
			<input asp-for="@Model.Uxo.NickName"/>
			<span asp-validation-for="Uxo.NickName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.Dod_Code">Department of Defense Code</label>
			<input asp-for="@Model.Uxo.Dod_Code"/>
			<span asp-validation-for="Uxo.Dod_Code" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.Nato_Code">NATO Code</label>
			<input asp-for="@Model.Uxo.Nato_Code"/>
			<span asp-validation-for="Uxo.Nato_Code" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.Description_Nl">Dutch Description</label>
			<input asp-for="@Model.Uxo.Description_Nl"/>
			<span asp-validation-for="Uxo.Description_Nl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Uxo.Description_Eng">English Description</label>
			<input asp-for="@Model.Uxo.Description_Eng"/>
			<span asp-validation-for="Uxo.Description_Eng" class="text-danger"></span>
		</div>
		<div class="row pb-2">
			<hr />
			<h4 class="text-primary pl-3">UXO Payload Data</h4>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Payload.AbbreviationRussian">Russian Abbreviation</label>
			<input asp-for="@Model.Payload.AbbreviationRussian"/>
			<span asp-validation-for="Payload.AbbreviationRussian" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="@Model.Payload.AbbreviationNato">NATO Abbreviation</label>
			<input asp-for="@Model.Payload.AbbreviationNato"/>
			<span asp-validation-for="Payload.AbbreviationNato" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Payload.PayloadTypeEng">Payload Type (English)</label>
			<input asp-for="@Model.Payload.PayloadTypeEng"/>
			<span asp-validation-for="Payload.PayloadTypeEng" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Payload.PayloadTypeNl">Payload Type (Dutch)</label>
			<input asp-for="@Model.Payload.PayloadTypeNl"/>
			<span asp-validation-for="Payload.PayloadTypeNl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Payload.ChemicalPayload">Chemical Payload</label>
			<input asp-for="@Model.Payload.ChemicalPayload"/>
			<span asp-validation-for="Payload.ChemicalPayload" class="text-danger"></span>
		</div>
		<div class="row pb-2">
			<hr />
			<h4 class="text-primary pl-3">UXO Image</h4>
			<hr />
		</div>
		<div class="row pb-2">
			<hr />
			<h4 class="text-primary pl-3">UXO Category Data</h4>
			<hr />
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.CategoryName">Category Name</label>
			<input asp-for="@Model.Category.CategoryName" />
			<span asp-validation-for="Uxo.CategoryName" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.MainCategoryNatoEng">Main Category NATO (English)</label>
			<input asp-for="@Model.Category.MainCategoryNatoEng"/>
			<span asp-validation-for="Category.MainCategoryNatoEng" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.SubCategoryNatoEng">Subcategory NATO (English)</label>
			<input asp-for="@Model.Category.SubCategoryNatoEng"/>
			<span asp-validation-for="Category.SubCategoryNatoEng" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.MainCategoryUsEng">Main Category US (English)</label>
			<input asp-for="@Model.Category.MainCategoryUsEng"/>
			<span asp-validation-for="Category.MainCategoryUsEng" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.SubCategoryUsEng">Subcategory US (English)</label>
			<input asp-for="@Model.Category.SubCategoryUsEng"/>
			<span asp-validation-for="Category.SubCategoryUsEng" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.MainCategoryNatoNl">Main Category NATO (Dutch)</label>
			<input asp-for="@Model.Category.MainCategoryNatoNl"/>
			<span asp-validation-for="Category.MainCategoryNatoNl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.SubCategoryNatoNl">Subcategory NATO (Dutch)</label>
			<input asp-for="@Model.Category.SubCategoryNatoNl"/>
			<span asp-validation-for="Category.SubCategoryNatoNl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.MainCategoryUsNl">Main Category US (Dutch)</label>
			<input asp-for="@Model.Category.MainCategoryUsNl"/>
			<span asp-validation-for="Category.MainCategoryUsNl" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<!Hiervan een listbox maken>
			<label asp-for="@Model.Category.SubCategoryUsNl">Subcategory US (Dutch)</label>
			<input asp-for="@Model.Category.SubCategoryUsNl"/>
			<span asp-validation-for="Category.SubCategoryUsNl" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px;">Add</button>
	</div>
</form>
