@page
@model Mined.Pages.Admin.Uxos.IndexModel

<div class="container p-3">
	<div class="row pt-4">
		<h2 class="text-primary">Uxo List</h2>
	</div>
	<!--Add U.X.O. button-->
	<div class="col-6">
		<a asp-page="upsert" class="btn btn-primary">
			<i class="bi bi-plus-square"></i>
			Add new U.X.O.
		</a>
	</div>
</div>

<br /><br/>

<!-- U.X.O. Table-->
<table class="table table-bordered table-striped" style="width:100%">
	<thread>
		<tr>
			<th>
				NATO Name
			</th>
			<th>
				Images
			</th>
		</tr>
	</thread>
	<tbody>
		@foreach(var obj in Model.Uxos)
		{
		<tr>
			
				<td>@obj.NameNato</td>
				<td>
				@foreach (var img in Model.Images)
				{
					if(obj.Uxo_ID == img.Uxo_ID)
					{
							<img src="@Url.Content(img.UxoImage)" class="rounded" width="100" height="100" />
					}
				}
				<td style="padding:50px;">
						<!-- UXO Details button-->
						<a asp-page="Detail" asp-route-id="@obj.Uxo_ID" class="btn btn-warning">Details</a>
						<!-- UXO Edit button-->
						<a asp-page="Upsert" asp-route-id="@obj.Uxo_ID" class="btn btn-primary">Edit</a>
						<!-- UXO delete button-->
						<a asp-page="Delete" asp-route-id="@obj.Uxo_ID" class="btn btn-danger mx-2">Delete</a>
				</td>
		</tr>
		}
	</tbody>
</table>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
