@page
@model Mined.Pages.Admin.Uxos.UpsertModel

	<div class="container-xl px-4 mt-4">
		<div asp-validation-summary="All"></div>
		<form method="post" enctype="multipart/form-data">
			<input hidden asp-for="Uxo.Uxo_ID" />
		<input hidden asp-for="Category.Category_ID" />

			<div class="col-xl-12">
				<h2 class="text-bg-primary pl-3">
					@(Model.Uxo.Uxo_ID!=0 ? "Update" : "Add") U.X.O.
				</h2>
				<!-- Add U.X.O -->
				<div class="card mb-4">
					<div class="card-header">Add U.X.O. Required Information</div>
					<div class="card-body">
						<div class="row gx-12 mb-12">
							<!--NATO U.X.O. Name-->
							<div class="form-group col-md-6">
								<label asp-for="Uxo.NameNato">NATO U.X.O. name</label>
								<input asp-for="Uxo.NameNato" class="form-control" />
								<span asp-validation-for="Uxo.NameNato" class="text-danger"></span>
							</div>

							<!-- Upload Image nr 1-->
							<div class="form-group col-md-6">
								<label asp-for="Image.UxoImage">Upload U.X.O. Image</label>
							    <input asp-for="Image.UxoImage"  type="file" name="files" id="uploadBox" class="form-control" />
								<span asp-validation-for="Image.UxoImage" class="text-danger"></span>
							</div>
						</div>

						<!-- NATO U.X.O. Categories-->
						<div class="row mb-12">
							<div class="form-group col-md-12">
							<label asp-for="Category.CategoryName">U.X.O. Category</label>
							<select asp-for="Category.CategoryName" asp-items="@Model.CategoryList" class="form-select">
								<option disabled selected>-- Select Catagory--</option>								
								</select>
								
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="col-xl-12">
					<div class="card mb-4">
						<div class="card-header">Add U.X.O. Additional Information</div>
							<div class="card-body">
								<div class="row gx-3 mb-3">
									<!--Russian U.X.O. Name-->
									<div class="form-group col md-6">
										<label asp-for="@Model.Uxo.NameRussian">Russian Name</label>
										<input asp-for="@Model.Uxo.NameRussian" class="form-control" />
										<span asp-validation-for="Uxo.NameRussian" class="text-danger"></span>

										<!--Origin Name-->
										<label asp-for="@Model.Uxo.NameOrigin">Origin Name</label>
										<input asp-for="@Model.Uxo.NameOrigin" class="form-control" />
										<span asp-validation-for="Uxo.NameOrigin" class="text-danger"></span>

										<!--Nickname-->
										<label asp-for="@Model.Uxo.NickName">U.X.O. Nickname</label>
										<input asp-for="@Model.Uxo.NickName" class="form-control" />
										<span asp-validation-for="Uxo.NickName" class="text-danger"></span>

										<!--Dept. of Defense Code-->
										<label asp-for="@Model.Uxo.Dod_Code">Department of Defense Code</label>
										<input asp-for="@Model.Uxo.Dod_Code" class="form-control" />
										<span asp-validation-for="Uxo.Dod_Code" class="text-danger"></span>

										<!--NATO Code-->
										<label asp-for="@Model.Uxo.Nato_Code">NATO Code</label>
										<input asp-for="@Model.Uxo.Nato_Code" class="form-control" />
										<span asp-validation-for="Uxo.Nato_Code" class="text-danger"></span>
									</div>

									<!--Description-->
									<div class="form-group col md-6">
										<label asp-for="@Model.Uxo.Description_Eng">Description</label>
										<textarea asp-for="@Model.Uxo.Description_Eng" rows="11" class="form-control"></textarea>
										<span asp-validation-for="Uxo.Description_Eng" class="text-danger"></span>
									</div>
								</div>

								<div class="row gx-3 mb-3">
									<div class="form-group col md-6">
										<a asp-page="Index" class="btn btn-secondary" style="width:300px">Back</a>
									</div>
									<div class="form-group col md-6">
										@if(Model.Uxo.Uxo_ID != 0)
										{
											<button type="submit" class="btn btn-primary" style="float:right; width:300px">Update</button>
										}
										else
										{
											<button type="submit" class="btn btn-primary" style="float:right; width:300px">Add</button>
										}
									</div>
								</div>
							</div>
					</div>	
			</div>
			<!-- Show Images that belong to the U.X.O. in case of update-->
				@if (Model.Image.Uxo_ID != 0)
				{
					<div class="col-xl-12">
						<div class="card mb-4">
							<div class="card-header">U.X.O. Images</div>
							<div class="card-body">
								<div class="row gx-3 mb-3">
									@foreach (var img in Model.Images)
									{
										if (Model.Uxo.Uxo_ID == img.Uxo_ID)
										{
											<div class="form-group col md-3">
										<img src="@Url.Content(img.UxoImage)" class="rounded" width="300" />
											</div>
										}
									}
								</div>
							</div>
						</div>
					</div>
				}
		</form>
	</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}

		