@page
@model Mined.Pages.Admin.UxoCategories.IndexModel

<div class="container p-3">
	<div class="row pt-4">
		<h2 class="text-primary">Category List</h2>
	</div>
	<!--Add Category button-->
	<div class="col-6">
		<a asp-page="upsert" class="btn btn-primary">
			<i class="bi bi-plus-square"></i>
			Add new Category
		</a>
	</div>
</div>

<br /><br/>

<!-- Category Table-->
<table class="table table-bordered table-striped" style="width:100%">
	<thread>
		<tr>
			<th>
				Category ID
			</th>
		@*	<th>
				Main NATO Category
			</th>
			<th>
				Sub NATO Category
			</th>*@
			<th>
				Category Name
			</th>
		</tr>
	</thread>
	<tbody>
		@foreach(var obj in Model.Categories)
		{
		<tr>
			 
			<td width="50">@obj.Category_ID</td>
		@*	<td width="50">@obj.MainCategoryNato</td>
			<td width="50">@obj.SubCategoryNato</td>*@
				<td width="50">@obj.CategoryName</td>
				<td width="20">
					<div class="w-75 btn-group" role="group">
						<!-- UXO Edit button-->
						<a asp-page="Upsert" asp-route-id="@obj.Category_ID" class="btn btn-primary">
							<i class="bi bi-pencil-squaremx-2"></i>
							Edit
						</a>
						<!-- UXO delete button-->
						<a asp-page="Delete" asp-route-id="@obj.Category_ID" class="btn btn-danger mx-2">
							<i class="bi bi-trash"></i>
							Delete
						</a>
					</div>
				</td>
		</tr>
		}
	</tbody>
</table>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
