@page
@model Mined.Pages.Player.Game.GameModel.GameModel

<div class="container-xl px-4 mt-4">
	<div asp-validation-summary="All"></div>
    @{
        var playerResults = Model.Scores.Where(c => c.Score_ID == HttpContext.Session.GetInt32("SessionScoreId"));
        var questionNumber = Model.Scores.Count() + 1;
        var uxos = Model.Uxos;
        var firstUxo = Model.Uxos.First();
        var firstUxoId = firstUxo.Uxo_ID;
        var lastUxo = Model.Uxos.Last();
        var lastUxoId = lastUxo.Uxo_ID;
        var imagePath = "";
        var altText = "Oops! there should be an image of an U.X.O. here...";

        List<int> uxoList = new List<int>();
        foreach (var uxo in uxos)
        {
            //Add all the uxoIds to a list. This list will be later used to pick the right correct and incorrect answers.
            uxoList.Add(uxos.First().Uxo_ID);

            //Delete the previously added UXO_ID from the Ienumerable
            uxos = uxos.Where(u => u.Uxo_ID != uxos.First().Uxo_ID).ToList();
        }

            Random rnd = new Random();

            //uxoName of the correct answer
            var uxoName = rnd.Next(1, 4);

            //ids of 3 drawn UXOs
            var n1 = 0;
            var n2 = 0;
            var random_id = 1;

            //every option in current game will be unique
            List<int> ids = new List<int>();
            foreach (var res in playerResults)
            {
                ids.Add(@res.correct_answer);
                ids.Add(@res.selected_answer);
            }

            //draw id of correct answer
            do
            {
                random_id = rnd.Next(firstUxoId, lastUxoId);
            } while (ids.Contains(random_id) || !uxoList.Contains(random_id));

            //draw ids of incorrect answers
            do
            {
            n1 = rnd.Next(firstUxoId, lastUxoId);
            } while (n1 == @random_id || @ids.Contains(n1) || !uxoList.Contains(n1));

            do
            {
            n2 = rnd.Next(firstUxoId, lastUxoId);
            } while (n2 == @random_id || n2 == n1 || @ids.Contains(n2) || !uxoList.Contains(n2));

            //find Uxo with id drawn as the correct
            var correct = Model.Uxos.FirstOrDefault(c => c.Uxo_ID == @random_id);
            var incorrects = Model.Uxos.Where(c => c.Uxo_ID == n1 || c.Uxo_ID == n2).ToArray();
            var image = Model.Images.Where(c => c.Uxo_ID == correct.Uxo_ID).First();

            imagePath = @image.UxoImage;
   }

   <!-- The Question that is depicted-->
            <div class="text-center">
                <br>
                <p>Guess the names of the randomly selected U.X.O.s: </p>
                <form class="questions" method="post">
                     @{
                            <p>
                            <img src="@Url.Content(imagePath)" alt="@altText" class="rounded" width="500" height="500" />
                            </p>
                            <div class="answers">
                                @{
                                    displayOptions(@questionNumber, @uxoName, @correct, @incorrects[0], @incorrects[1]);
                                }
                            </div>

                            <br>
                            <input type="submit" class="btn btn-primary" value="Submit" asp-page-handler="Submit" />
                      }
                </form>
            </div>
    </div>

    <!-- 3 possible answers that are shown (1 correct, 2 incorrect-->
 @functions {
     void displayOptions(int nr, int uxoName, Models.Uxo correct, Models.Uxo incorrect1, Models.Uxo incorrect2)
     {
        var tmp = "tmp";
        switch (uxoName)
        {
            case 1:
                <input id="correct" type="hidden" name="correct_answer" value="@correct.Uxo_ID" checked>
                <input id="correct" type="hidden" name="Nickname" value="@tmp" checked>
                <div class="custom-radio">
                    <input id="correct" type="radio" name="selected_answer" value="@correct.Uxo_ID" required="required"> @correct.NameNato
                </div>
                <div class="custom-radio">
                    <input id="incorrect1" type="radio" name="selected_answer" value="@incorrect1.Uxo_ID" required="required"> @incorrect1.NameNato
                </div>
                <div class="custom-radio">
                    <input id="incorrect2" type="radio" name="selected_answer" value="@incorrect2.Uxo_ID" required="required"> @incorrect2.NameNato
                </div>
                break;

            case 2:
                <input id="correct" type="hidden" name="correct_answer" value="@correct.Uxo_ID" checked>
                <input id="correct" type="hidden" name="Nickname" value="@tmp" checked>
                <div class="custom-radio">
                    <input id="incorrect1" type="radio" name="selected_answer" value="@incorrect1.Uxo_ID" required="required"> @incorrect1.NameNato
                </div>
                <div class="custom-radio">
                    <input id="correct" type="radio" name="selected_answer" value="@correct.Uxo_ID" required="required"> @correct.NameNato
                </div>
                <div class="custom-radio">
                    <input id="incorrect2" type="radio" name="selected_answer" value="@incorrect2.Uxo_ID" required="required"> @incorrect2.NameNato
                </div>
                break;

            case 3:
                <input id="correct" type="hidden" name="correct_answer" value="@correct.Uxo_ID" checked>
                <input id="correct" type="hidden" name="Nickname" value="@tmp" checked>
                <div class="custom-radio">
                    <input id="incorrect1" type="radio" name="selected_answer" value="@incorrect1.Uxo_ID" required="required"> @incorrect1.NameNato
                </div>
                <div class="custom-radio">
                    <input id="incorrect2" type="radio" name="selected_answer" value="@incorrect2.Uxo_ID" required="required"> @incorrect2.NameNato
                </div>
                <div class="custom-radio">
                    <input id="correct" type="radio" name="selected_answer" value="@correct.Uxo_ID" required="required"> @correct.NameNato
                </div>
                break;

            default:
                break;
        }
    }
 }


@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}



